<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Electrodomesticos</title>
</head>

<body>
    <header>

        <div class="top-header">
            <div class="menu">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo-principal">
                <img src="/img/logo 2.png" alt="logo">
            </div>
            <div>
                <ul class="login-cart">
                    <li class="login"><a href="/views/login.html"><i class="fas fa-user"></i></a></li>
                    <li class="cart"><a href="/views/productCart.html"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <div class="shearch" action="#" method="GET">
                <div class="shearch-bar">Buscar productos, marcas y más</div>
                <div class="shearch-i"><i class="fa fa-search"></i></div>
            </div>
        </div>

    </header>
    <main>

    </main>

    <!-- Inicio Footer -->
    <footer>
        <div class="site-footer">
            <div class="redes">
                <h4>Seguinos en Redes</h4>
                <a href="www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="www.x.com" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="option-footer">
                <div class="options">
                    <i class="fas fa-credit-card"></i>
                    <h4>Elegi como pagar</h4>
                    <p>Podés pagar con tarjeta, débito o efectivo. Tenemos todas las Tarjetas.</p>
                    <a href="#" target="_blank">Cómo pagar tus compras</a>
                </div>
                <div class="options">
                    <i class="fas fa-box"></i>
                    <h4>Envio gratis desde $10.000</h4>
                    <p>Solo por estar registrado en Jaca-Tech tenés envíos gratis en miles de productos.</p>
                    <a href="#" target="_blank">Conocé más sobre este beneficio</a>
                </div>
                <div class="options">
                    <i class="fas fa-lock"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Jaca-Tech, no hay nada que no puedas hacer, estás siempre
                        protegido.</p>
                    <a href="#" target="_blank">Cómo te protegemos</a>
                </div>
            </div>
            <div>&copy; Copyright 2023 </div>
        </div>
    </footer>
</body>

</html>