<%- include('partials/head', { styles: ['index'] }) %>

<body class="background">
    <%- include('partials/header') %>
    <main class="home">
        <div>
            <img class="banner" src="/img/Banner Home.png" alt="banner">
        </div>
        <h2 class="title_home">Ofertas hasta 50%OFF</h2>
        <div class="article_tablet">
            <article class="product">
                <img src="/img/Heladera_Gafa.png" alt="heladera">
                <div class="card_description">
                    <h4 class="home_description">HELADERA GAFA HGF 357aw 281lts C/FREZZER</h4>
                    <div>
                        <p class="price">$419.000</p>
                        <p class="price_end">$335.200</p>
                    </div>
                    <button class="button_card">Comprar</button>
                    <span class="off">30%OFF</span>
                </div>
            </article>
            <article class="product">
                <img src="/img/tv.png" alt="tv">
                <div class="card_description">
                    <h4 class="home_description">SMART TV 32" HD eNOVA</h4>
                    <div>
                        <p class="price">$120.000</p>
                        <p class="price_end">$96.000</p>
                    </div>
                    <button class="button_card">Comprar</button>
                    <span class="off">20%OFF</span>
                </div>
            </article>
            <article class="product">
                <img src="/img/aire.png" alt="aire">
                <div class="card_description">
                    <h4 class="home_description">AIRE ACONDICIONADO SPLIT 3000 FRIGORÍAS FRÍO/CALOR</h4>
                    <div>
                        <p class="price">$350.000</p>
                        <p class="price_end">$267.000</p>
                    </div>
                    <button class="button_card">Comprar</button>
                    <span class="off">25%OFF</span>
                </div>
            </article>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>