<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <title>Jaca-Tech</title>
</head>

<body>
    <main>
        <section>
            <article>
                <div class="product">
                    <img src="#" alt="producto" class="image-product">
                </div>
                <div>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <h4 class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <p class="price">$$$$</p>
                </div>
            </article>
            <button type="submit">Borrar del carrito</button>
            <p>Recibi entre 10 y 15 dias habiles (puede variar segun tu localidad)</p>
            <div class="summary cart">
                <p class="subtotal">Subtotal</p>
                <p class="price-subtotal">$$$$</p>
                <p class="Shipping costs">Gastos de envio</p>
                <h3 class="shopping-continue">Continua comprando y ahorra en tu envio</h3>
            </div>
            <button type="submit">Finalizar compra</button>
        </section>
    </main>
</body>

</html>