<%- include('partials/head', { styles: ['productCart'] }) %>
<body class="background">
    <%- include('partials/header') %>
    <main class="cart_main">
        <section class="section-product">
            <h1 class="title-cart">Mi Carrito</h1>
            <div class="article-desktop">
                <article>
                    <div class="product">
                        <img src="/img/productos/Gafa.png" alt="producto">
                    </div>
                    <div class="product-description">
                        <h3 class="name-article">HELADERA BOTTOM</h3>
                        <h4 class="description">HELADERA MOUNT BLANCA WHIRLPOOL 588 LTS</h4>
                        <p class="price">$10.000</p>
                        <div class="btn-remove-add">
                            <div class="btn-add">
                                <i class="fas fa-plus"></i>
                                <input type="text" value="1">
                                <i class="fas fa-minus"></i>
                            </div>
                            <i class="fas fa-trash-alt"></i>
                        </div>
                    </div>
                </article>
                <div class="summary-desktop">
                    <p class="comment"><span>Recibi entre 10 y 15 dias habiles</span> (puede variar segun tu localidad)
                    </p>
                    <div class="summary-cart">
                        <div class="subtotal-price">
                            <p class="subtotal">Subtotal</p>
                            <p class="price-subtotal">$10.000</p>
                        </div>
                        <div class="shipping-costs">
                            <p>Gastos de envio</p>
                            <p>$500</p>
                        </div>
                        <div class="shopping-continue">
                            <a href="/">
                                <p>Continua comprando y ahorra en tu envio</p>
                            </a>
                        </div>
                        <button type="submit" class="btn-finalize">Finalizar compra</button>
                    </div>
                </div>
            </div>

        </section>
    </main>
    <%- include('partials/footer') %>
</body>

</html>