<%- include('partials/head', { styles: ['productDetail'] }) %>
<body class="background">
    <%- include('partials/header') %>
    <main>
        <section class="pDetail">
            <div class="pdImages">
                <img src="/img/logo 2.png" alt="producto">
            </div>
            <div class="pdDescription">
                <div class="name">ProductName</div>
                <button type="submit">Agregar al carrito</button>
                <div class="price">$999.999</div>
                <div class="options">
                    <ul>
                        <li><a href="#"><i class="far fa-credit-card"></i> Formas de pago</a></li>
                        <li><a href="#"><i class="fas fa-store"></i></i> Retiro en sucursal</a></li>
                        <li><a href="#"><i class="fas fa-shipping-fast"></i></i> Envíos</a></li>
                    </ul>
                </div>
                <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Recusandae tempora cumque fuga aspernatur ipsa inventore ut, magni natus harum, fugiat numquam voluptates totam?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Recusandae tempora cumque fuga aspernatur ipsa inventore ut, magni natus harum, fugiat numquam voluptates totam?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Recusandae tempora cumque fuga aspernatur ipsa inventore ut, magni natus harum, fugiat numquam voluptates totam?
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
 
</body>
</html>