* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main.home div img.banner {
    width: 100%;
}

.home {
    margin-bottom: 300px;

}

main h2.title_home {
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    font-size: 2rem;
}

.article_tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div article a img {
    width: 100%;
    padding: 16px;
}

article.product {
    padding: 20px;
    max-width: 300px;
    border: 2px solid #0D512A;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5)
}

article.product div.card_description {
    display: flex;
    flex-direction: column;

}

article.product .home_description {
    border-top: 1px solid #0D512A;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    color: white;
}

article.product div.card_description div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.card_description .button_card {
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #0D512A;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

article.product div.card_description div p.price {
    font-size: 1rem;
    margin-left: 20px;
    text-decoration: line-through;
    color: #ffffff;

}

article.product div.card_description div p.price_end {
    font-size: 1.5rem;
    margin-right: 20px;
    color: #0D512A;
    font-weight: 700;
}

article.product div.card_description span.off {
    background-color: #0D512A;
    color: white;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 1rem;
    right: 1rem;

}

@media (min-width: 481px) {
    .article_tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: normal;
        flex-wrap: wrap;
    }
}