* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main section article div.product {
    width: 200px;
    height: 400px;
    background-color: bisque;
}

main section article {
    display: flex;
}