* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body.background {
    background: linear-gradient(300deg, #a69afe, #74C0CD);
    height: 100%;
}

header {
    background-color: #2f2989;
}
header div ul {
    display: flex;
    align-items: center;
    position: relative;
}
header div ul img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
header div ul h2 {
    color: white;
    font-size: 1rem;
    margin-left: 10px;

}
header div div.desplegable {
    margin: 10px;
    opacity: 0;
    position: absolute;
    transition: all 500ms ease;   
}
header div div.desplegable ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}
header div ul:hover ~ .desplegable {
    opacity: 1;
    display: flex;
}
header div div.desplegable:hover {
    opacity: 1;
}
header div div.desplegable:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
header div div.desplegable ul li {
    list-style: none;
}

header div div.desplegable ul li a {
    text-decoration: none;  
}

.desplegableNone {
    display: none;
}

header div.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div.logo-principal {
    width: 20%;
    padding: 10px;
    margin-left: 30%;
}

.logo-principal img {
    width: 70px;

}

.login-cart {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

div ul.login-cart li.cart {
    margin-left: 10px;

}

.login a,
.cart a,
div.menu {
    color: white;
    margin: 5px;
    font-size: 22px;
}

div.top-header div.shearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    max-height: 32px;
    width: 100%;
    padding: 5px;
}

div.top-header div.shearch div.shearch-bar {
    color: gray;
}

div.top-header div.shearch div.shearch-i {
    background-color: #74C0CD;
    width: 5%;
    font-size: medium;
    text-align: center;
    margin: 1px;
    border-radius: 5px;
    color: white;
}

header nav {
    display: flex;
}

nav div.menu {
    position: absolute;
    left: 20px;
    top: 3vh;
}

nav div.menu label i {
    cursor: pointer;
}

#label_check {
    width: 22px;
}

#check_menu {
    display: none;
}

nav ul.nav_menu li a,
nav ul.nav_menu li {
    list-style: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;

}

/* Falta Agregar Funcion Al togglear el Icon de burger*/
nav ul.nav_menu {
    background-color: #a69afe;
    position: fixed;
    top: 90px;
    width: 100%;
    padding: 20px;
    display: none;
}

nav ul.nav_menu li ul.sub_menu {
    display: none;
}


/* Footer */

.site-footer {
    background-color: #a69afe;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.site-footer .redes {
    padding: 5px;
}

.site-footer div a i {
    font-size: 22px;
    margin: 5px;
    color: #2f2989;
}

.site-footer div p {
    display: none;
}

.site-footer div h4 {
    font-size: 12px;
}

.options a {
    font-size: 10px;
    text-decoration: none;
    display: block;
    color: #2f2989;
    margin: 2%;
}

.option-footer {
    display: flex;
    justify-content: center;
}

.option-footer .options i {
    color: #2f2989;
}

.option-footer h4,
.option-footer p {
    display: none;
}

.option-footer .options i {
    font-size: 16px;
}

div.site-footer div.copy {
    margin: 10px;
}

@media (min-width: 481px) {
    header div.top-header {
        flex-wrap: nowrap;
        align-items: center;
        height: auto;
    }

    div.menu {
        display: none;
    }

    div.top-header div.shearch {
        width: 50%;
        order: -1;
        border-radius: 5px;
        margin-left: 30px;
    }

    div.top-header div.shearch div.shearch-i {
        background-color: white;
        color: #2f2989;
    }

    div.logo-principal {
        order: -1;
        width: 0;
        margin-left: 0;
    }

    nav {
        display: flex;
        border-top: 1px solid #74C0CD;

    }

    nav ul.nav_menu {
        background-color: #2f2989;
        position: static;
        display: flex;
        padding: 20px;

    }

    ul.nav_menu li {
        color: #74C0CD;
        list-style: none;
        margin-right: 10%;
        text-transform: uppercase;
        padding: 10px;

    }

    ul.nav_menu li:hover {
        color: #2f2989;
        background-color: #74C0CD;
        border-radius: 5px;
        box-shadow: 0 0 10px white;
    }


    /*Footer*/
    .options a {
        margin-bottom: 5px;
    }

    .option-footer h4,
    p {
        display: block;
        margin: 4px;
        font-weight: 500;
    }

    .site-footer {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 769px) {

    .options {
        width: 30%;
    }

    .options a {
        margin: 5px;
    }

    .option-footer div.options i {
        font-size: 22px;
    }

    .option-footer {
        max-width: 900px;
        text-align: center;
    }

    .option-footer .options p {
        display: block;
        font-size: 10px;
        text-align: center;
    }

    footer .site-footer div.redes h4 {
        font-size: 16px;
        font-weight: 400;
    }

}