<footer>
    <div class="site-footer">
        <div class="redes">
            <h4>Seguinos en Redes</h4>
            <a href="www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="www.x.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="option-footer">
            <div class="options">
                <i class="fas fa-credit-card"></i>
                <h4>Elegi como pagar</h4>
                <p>Podés pagar con tarjeta, débito o efectivo. Tenemos todas las Tarjetas.</p>
                <a href="#" target="_blank">Cómo pagar tus compras</a>
            </div>
            <div class="options">
                <i class="fas fa-box"></i>
                <h4>Envio gratis desde $10.000</h4>
                <p>Solo por estar registrado en Jaca-Tech tenés envíos gratis en miles de productos.</p>
                <a href="#" target="_blank">Conocé más sobre este beneficio</a>
            </div>
            <div class="options">
                <i class="fas fa-lock"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Jaca-Tech, no hay nada que no puedas hacer, estás siempre
                    protegido.</p>
                <a href="#" target="_blank">Cómo te protegemos</a>
            </div>
        </div>
        <div class="copy">&copy; Copyright 2023 </div>
    </div>
</footer>