<header>
    <div class="top-header">
        <div class="logo-principal">
            <a href="/"><img src="/img/logo 2.png" alt="logo"></a>
        </div>
        <div>
            <%# CORREGIR Y AGREGAR ESTILOS A DATOS DEL USUARIO %>
            <ul class="login-cart">
                <% if(locals.userToLogged){ %>
                    <img src="/img/avatars/<%= locals.userToLogged.image%>" height="20px" width="20px">
                    <h2><%= locals.userToLogged.name%></h2>
                <% } else{ %>
                    <li class="login"><a href="/user/login"><i class="fas fa-user"></i></a></li>
                <% } %> 
                <li class="cart"><a href="/product/productCart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="shearch" action="#" method="GET">
            <div class="shearch-bar">Buscar productos, marcas y más</div>
            <div class="shearch-i"><i class="fa fa-search"></i></div>
        </div>
    </div>
    <nav>
        <div class="menu">
            <input type="checkbox" id="check_menu">
            <label for="check_menu" id="label_check">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        <ul class="nav_menu">
            <li class="active"><a href="#">Categorias</a>
                <ul class="sub_menu">
                    <li><a href="#">TV, Audio y Video</a></li>
                    <li><a href="">Celulares y Tecnología</a></li>
                    <li><a href="#">Climatización</a></li>
                    <li><a href="#">Electrodomesticos</a></li>
                </ul>
            </li>
            <li class="active"><a href="#">Sucursales</a></li>
            <li class="active"><a href="#">Seguros</a></li>
        </ul>
    </nav>
</header>